#work__count {
  background-image: url("/images/cover_bg_1.webp");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px 15px;
  margin-top: 100px;
  position: relative;
}

#work__count::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

#work__count > div > span,
#work__count > div > p {
  display: block;
  text-align: center;
  z-index: 1;
  position: relative;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  color: white;
}

#work__count > div > p {
  font-size: 14px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 40px;
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (min-width: 1200px) {
  #work__count {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 70px 35px;
  }
  #work__count > div > p {
    margin-bottom: 0;
  }
}
